<div>
  <h3>Allar skrár síaðar eftir dagsetningu</h3>

  <div>
      <div class="row">
      <div class="col-md-12">
        <h4>Dagsetningar val</h4>
      </div>
          <div class="col-md-6">
              <h5>Byrjunar dagsetning</h5>
              <p class="input-group">
                <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="startDay" is-open="opened" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </p>
          </div>
        <div class="col-md-6">
          <h5>Enda dagsetning</h5>
                <p class="input-group">
                  <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="endDay" is-open="openedEnd" datepicker-options="dateOptions" date-disabled="disabledEnd(date, mode)" ng-required="true" close-text="Close" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="openEnd($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </p>
        </div>
      </div>
  </div>
  <button ng-click="getFilesByTimerange()">Leita</button>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Nafn á skrá. (*)</th>
        <th>Fjöldi keyrslna á tímabili</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in filesByTimerange">
        <td>#</td>
        <td >
          <a href="#/{{item.key}}">
            <i></i> {{item.key}}
            <span class="pull-right text-muted small">#
            </span>
        </a>
        </td>
        <td>{{item.doc_count}}</td>
      </tr>
    </tbody>
  </table>

</div>
