<div class="row">
	<div class="col-md-12">
		<h3>Listi af öllum skrám</h3>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>File name</th>
					<th>Function's</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in project">
					<td>#</td>
					<td ><a ng-href="#/{{item.key}}">{{item.key}}</a></td>
					<td>{{item.doc_count}}</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="col-md-12">
	  <h3>Listi af öllum skrám</h3>
	  <a ng-href="#/hs">listi af skrám eftir dags</a>
	  <table class="table table-striped">
	    <thead>
	      <tr>
	        <th>#</th>
	        <th>File name</th>
	        <th>Function's</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr ng-repeat="item in project">
	        <td>#</td>
	        <td ng-click="getAllFunctionsByFile(item.key)" >{{item.key}}</td>
	        <td>{{item.doc_count}}</td>
	      </tr>
	    </tbody>
	  </table>
	</div>
</div>
